<p id="notice"><%= notice %></p>

<p>
  <b>Номер:</b>
  <%= @group.number %>
</p>

<p>
  <b>Кафедра:</b>
  <%= @group.chair_id %>
</p>


<%= link_to 'Изменить', edit_group_path(@group) %> |
<%= link_to 'Назад', groups_path %>
