<p id="notice"><%= notice %></p>

<p>
  <b>Begintime:</b>
  <%= @web.begintime %>
</p>

<p>
  <b>Lenght:</b>
  <%= @web.lenght %>
</p>

<p>
  <b>Pair:</b>
  <%= @web.pair %>
</p>

<p>
  <b>Day:</b>
  <%= @web.day %>
</p>


<%= link_to 'Edit', edit_web_path(@web) %> |
<%= link_to 'Back', webs_path %>
