<%= form_for(@action) do |f| %>
  <% if @action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action.errors.count, "error") %> prohibited this action from being saved:</h2>

      <ul>
      <% @action.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :lectroom_id %><br />
    <%= f.number_field :lectroom_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :subject_id %><br />
    <%= f.number_field :subject_id %>
  </div>
  <div class="field">
    <%= f.label :from %><br />
    <%= f.date_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br />
    <%= f.date_select :to %>
  </div>
  <div class="field">
    <%= f.label :week %><br />
    <%= f.check_box :week %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
